.place__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  grid-area: title;
  align-self: end;
}
@media screen and (max-width: 1160px) {
  .place__title {
    font-size: 56px;
    line-height: 1;
  }
}
@media screen and (max-width: 999px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 700px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
    align-self: start;
  }
}
