p,
h1,
h2,
h3,
section,
header,
img,
a {
  border: 1px solid red;
}
div {
  border: 1px solid lime;
}

a {
  color: yellow;
  text-decoration: none;
}
.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 34px auto 91px auto;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 793px;
  margin: 0 auto 2rem auto;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 4rem auto;
}
.header__image {
  display: block;
  margin: 0 auto;
  max-width: 984px;
}
.origin {
  margin: auto 148px;
}

.origin__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  max-width: 785px;
}

.origin__quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
}

.origin__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
  text-align: right;
}

.origin__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  max-width: 720px;
  margin-bottom: 68px;
}
.gallery {
  margin: 50px auto;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery__image {
  width: 284px;
  object-fit: cover;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.gallery__image:nth-child(4) {
  margin-right: 0;
}
.gallery__image:nth-child(8) {
  margin-right: 0;
}
.kyiv {
  margin: 0 148px;
}
.cricieth {
  margin: 0 148px;
}
.berea {
  margin: 0 148px;
}
.muramvya {
  margin: 0 148px;
}
.waukesha {
  margin: 0 148px;
}

.grid {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px auto;
  margin-bottom: 93px;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.grid__item {
  position: relative;
}
.grid__item_row_shrink {
  grid-template-rows: 76px auto;
}

.grid__item:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.section__image {
  margin-bottom: 48px;
}

.section__artist {
  display: flex;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.section__author {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.section__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
}
.section__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 484px;
  margin: 0 0 25px 0;
  padding: 0;
}
.section__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  background-image: url(/images/__background.png);
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
}

.cover__title {
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .page {
    background-color: green;
  }
}
