.origin {
  margin: auto 148px;
}
@media screen and (max-width: 999px) {
  .origin {
    margin: 0 24px;
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  .origin {
    margin: 0 16px;
  }
}
