.gallery__image {
  max-width: 284px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.gallery__image:nth-child(4) {
  margin-right: 0;
}
.gallery__image:nth-child(5) {
  margin-bottom: 0;
}
.gallery__image:nth-child(6) {
  margin-bottom: 0;
}
.gallery__image:nth-child(7) {
  margin-bottom: 0;
}
.gallery__image:nth-child(8) {
  margin: 0;
}
@media screen and (max-width: 1190px) {
  .gallery .gallery__image {
    margin: 8px;
  }
}

@media screen and (max-width: 920px) {
  .gallery__image:first-child {
    margin-top: 0;
  }
  .gallery__image:nth-child(2) {
    margin-top: 0;
  }
  .gallery__image:nth-child(7) {
    margin-bottom: 0;
  }
  .gallery__image:nth-child(8) {
    margin-bottom: 0;
  }
  .gallery .gallery__image {
    height: auto;
    flex: 50;
    padding: 0;
    max-width: 352px;
  }
}

@media screen and (max-width: 700px) {
  .gallery__image:last-child {
    margin-bottom: 0;
  }
  .gallery__image:nth-child(5) {
    margin-bottom: 12px;
  }
  .gallery__image:nth-child(6) {
    margin-bottom: 12px;
  }
  .gallery__image:nth-child(7) {
    margin-bottom: 12px;
  }
  .gallery .gallery__image {
    margin: 0 0 12px 0;
  }
  .gallery__image:nth-child(odd) {
    margin-right: 12px;
  }
}
@media screen and (max-width: 570px) {
  .gallery__image:nth-child(odd) {
    margin-right: 0;
  }
}
