.cover__text {
  text-align: center;
  margin: auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 280px;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  .cover__text {
    font-size: 14px;
    line-height: 16px;
    margin: auto;
  }
}
