.place__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  line-height: 21.78px;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  grid-row: 3 / span 1;
  grid-area: link;
  max-width: 208px;
}

.place__link:hover {
  background: #0063d2;
  transition: ease-in 0.25s;
}
@media screen and (max-width: 700px) {
  .place__link {
    position: relative;
    padding: 13px 40px;
    margin: 0 auto;
    white-space: nowrap;
  }
}
