.cover__title {
  margin: 243px auto 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .cover__title {
    margin-top: 246px;
    font-size: 54px;
    line-height: 35px;
  }
}
@media screen and (max-width: 550px) {
  .cover__title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .cover__title {
    margin-top: 46px;
    font-size: 32px;
    line-height: 35px;
  }
}
