.cricieth {
  margin: 0 148px;
}
@media screen and (max-width: 999px) {
  .cricieth {
    margin: 0 24px;
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  .cricieth {
    margin: 0;
  }
}
