/* p,
h1,
h2,
a {
  border: 1px solid red;
}
div {
  border: 1px solid lime;
} */

.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  margin: 0 auto;
}
.__logo {
  display: block;
  margin: 34px auto 91px auto;
}
.lead__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 793px;
  margin: 0 auto 2rem auto;
}

.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 64px auto;
}
.lead__image {
  display: block;
  margin: 0 auto;
  max-width: 984px;
}
.origin {
  margin: auto 148px;
}

.origin__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  max-width: 785px;
}

.origin__quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
}

.origin__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
  text-align: right;
}

.origin__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  max-width: 720px;
  margin-bottom: 68px;
}
.gallery {
  margin: 118px auto 92px auto;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery__image {
  max-width: 284px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.gallery__image:nth-child(5, 6, 7, 8) .kyiv {
  margin: 0 148px;
}
.cricieth {
  margin: 0 148px;
}
.berea {
  margin: 0 148px;
}
.muramvya {
  margin: 0 148px;
}
.waukesha {
  margin: 0 148px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 76px auto;
  margin-bottom: 93px;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.grid__item {
  position: relative;
}
.grid__item_row_shrink {
  grid-template-rows: 76px auto;
}

.grid__item:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.grid__item:last-child {
  height: 48px;
}
.section__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}
.section__image {
  margin-bottom: 48px;
  width: 100%;
}

.section__artist {
  display: flex;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.section__author {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.section__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.section__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 484px;
  margin: 0 0 25px 0;
  padding: 0;
}
.section__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  background-image: url(/images/__background.png);
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
}
.cover__content {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover__title {
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.cover__text {
  text-align: center;
  margin: 32px auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.cover__link {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  padding: 20px 13px;
  background-color: #0278fe;
  color: white;
  text-decoration: none;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .origin {
    margin: 0 24px;
  }
  .lead__image {
    width: 100%;
    height: auto;
  }
  .kyiv {
    margin: 0 24px;
    padding: 0;
  }
  .cricieth {
    margin: 0 24px;
    padding: 0;
  }
  .berea {
    margin: 0 24px;
    padding: 0;
  }
  .muramvya {
    margin: 0 24px;
    padding: 0;
  }
  .waukesha {
    margin: 0 24px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
  .origin {
    margin: 0 24px;
    padding: 0;
  }

  .lead__image {
    width: 100%;
    height: auto;
  }
  .lead__title {
    max-width: 720px;
    font-size: 10vw;
    line-height: 10vw;
  }
  .lead__subtitle {
    font-size: 5vw;
    line-height: vw;
  }

  .gallery {
    margin: 0 24px;
  }

  .gallery__image {
    margin: 8px;
    max-width: 352px;
  }

  .kyiv {
    margin: 0 24px;
    padding: 0;
  }
  .cricieth {
    margin: 0 24px;
    padding: 0;
  }
  .berea {
    margin: 0 24px;
    padding: 0;
  }
  .muramvya {
    margin: 0 24px;
    padding: 0;
  }
  .waukesha {
    margin: 0 24px;
    padding: 0;
  }

  .grid {
    grid-row-gap: 46px;
    grid-column-gap: 28px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 355px auto;
    margin-bottom: 72px;
  }
  .grid:first-child {
    margin-top: 88px;
  }
  .grid__item:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .grid__item:nth-child(3) {
    height: 340px;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .grid__item:nth-child(4) {
    grid-row: 2/4;
    grid-column: 2/3;
  }

  .section__title {
    font-size: 42px;
    line-height: 46px;
  }
  .section__author {
    line-height: 22px;
  }
  .section__image {
    max-width: 340px;
    position: relative;
    margin-bottom: 61px;
  }

  .section__paragraph {
    font-size: 16px;
    max-width: 352px;
    line-height: 26px;
  }
}

@media screen and (max-width: 625px) {
}
@media screen and (max-width: 470px) {
  .__logo {
    margin-bottom: 50px;
  }
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 16px 16px;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 16px 40px;
  }
  .origin {
    margin: 0 16px;
  }
  .origin__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
  .origin__quote {
    margin-bottom: 10px;
  }
  .origin__author {
    margin: 10px auto 32px auto;
  }
  .origin__text {
    margin-bottom: 90px;
  }
  .gallery {
    margin: 0 16px;
  }
  .gallery__image {
    margin: 0 0 12px 0;
  }
  .grid {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .grid__item:first-child {
    height: auto;
  }

  .grid:first-child {
    margin-top: 50px;
  }
  .section__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
  .section__link {
    padding: 13px 40px;
    margin: 0 16px;
  }
  .section__author {
    margin: 0 16px;
  }
  .section__artist {
    margin: 0 16px;
  }
  .section__paragraph {
    margin: 0 16px;
  }

  .grid__item:last-child {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .kyiv {
    margin: 0;
  }
  .cricieth {
    margin: 0;
  }
  .berea {
    margin: 0;
  }
  .muramvya {
    margin: 0;
  }
  .waukesha {
    margin: 0;
  }
}
