.place__artist {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 1.6px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #aaaaaa;
}

@media screen and (max-width: 999px) {
  .place__artist {
    margin-top: 0;
  }
}
@media screen and (max-width: 700px) {
  .place__artist {
    margin: 0 16px 8px;
  }
}
